*

!app/
!bin/
!config/
!db/
!lib/
!public/
!script/
!spec/
!storage/
!tmp/
!vendor/

!log/.keep
!script/.keep
!storage/.keep
!tmp/.keep
!tmp/pids/.keep
!tmp/storage/.keep

!.annotaterb.yml
!.node-version
!.rspec
!.rubocop.yml
!.ruby-version
!Dockerfile
!Gemfile
!Gemfile.lock
!Rakefile
!config.ru
!package.json
!tailwind.config.js
!yarn.lock
